kind: Deployment
apiVersion: apps/v1
metadata:
  name: apache-deployment
  namespace: apache

spec:
  replicas: 2
  selector:
    matchLabels:
      app: apache

  template:
    metadata:
      name: apache
      labels:
        app: apache

    spec:
      containers:
        - name: apache
          image: httpd:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 80m
              memory: 128Mi
            limits:
              cpu: 150m
              memory: 256Mi
